.style{
  color:black;
    font-size: 30px;
    font-family: cursive
  margin=20;
  padding-block-start: 3cm;
}
.style1
{   
    
   color: darkred;
    font-size: 60px;
  font-style: italic
  margin=20;
  padding-block-start: 3cm;
  
}
#img
{
   
    padding: 30px;
      width: 400px;
      height: 300px;
      border-radius: 600px;
     float: left;
    margin-top: 2cm
      
      
}
  
